[Desktop Entry]
Comment=Rasp-control launcher
Terminal=true
Name=Rasp-control
Exec=python /home/pi/Desktop/Rasp-control/server/server.py
Type=Application
Icon=/home/pi/Desktop/Rasp-control/raspberry-pi-logo.png
